<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FoodDB-EFPreReq14" connectionString="Data Source=BLR-STR-VIKRAMH;Initial Catalog=FoodPreReqDb;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>